// Here you can easily change your sites's layout.
// To give it a try, uncomment some of the lines below, make changes, rebuild your blog, and see how it works.

$max-width: 1037px;
$sidebar-width-medium: 286px;
$sidebar-width-wide: 286px;

#slide-content {
  -moz-border-radius-topleft: 0.4em;
  -moz-border-radius-topright: 0.4em;
  -webkit-border-radius: 0.4em 0.4em 0 0;
  border-radius: 0.4em 0.4em 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.deck-container {
  width: auto;
  max-width: 800px;
  margin: 0px auto 0px auto;
  min-height: 600px;
  font-size: 16px;
}

.deck-container {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
